@font-face{
	font-family: "graffogie";
    src: url('../../../../fonts/graffogie.otf');
}

@font-face{
	font-family: "berlin_graffiti";
    src: url('../../../../fonts/berlin_graffiti.ttf');
}
#background {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url('../../../../images/home.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

	transition: background 0.6s,
				filter 0.7s;
}

#home-container {
    display: inherit;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	z-index: 1;
}

#button-container {
	width: 90%;
	margin: auto;
	height: 120px;
}

.button {
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    user-drag: none;
	-webkit-user-drag: none;

	display: flex;
	width: 28%;
	height: 120px;
	background-color: #ddd;
	cursor: pointer;
	border-radius: 2px;
	overflow: hidden;
	position: initial;
	overflow: hidden;

	transition: margin 0.7s,
				-moz-box-shadow 0.7s,
				-webkit-box-shadow 0.7s,
				-o-box-shadow 0.7s,
				box-shadow 0.7s,
				opacity 0.7s,
				background-color 0.7s;
}
.button.hover {
	margin-top: -15px;
    -moz-box-shadow: 	0px 5px 5px rgba(0,0,0, 0.6);
	-webkit-box-shadow: 0px 5px 5px rgba(0,0,0, 0.6);
	-o-box-shadow: 		0px 5px 5px rgba(0,0,0, 0.6);
	box-shadow: 		0px 5px 5px rgba(0,0,0, 0.6);
}
.button.mini {
	margin-top: 15px;
	opacity: 0.9;
	background-color: #999;
}

.button .text {
	font-family: "berlin_graffiti";
	font-size: 75px;
	letter-spacing: -5px;
	width: auto;
	height: auto;
	margin: auto;
	opacity: 1;

	transition: opacity 0.7s;
}

#galerie {
	float: left;
	top: 50%;
	left: 10%;
}
#contact {
	float: right;
	top: 50%;
	right: 10%;
}

#galerie.grow-up {
	left: 0 !important;
}
#contact.grow-up {
	right: 0 !important;
}
.grow-up {
	z-index: 2;
	cursor: default;
	height: 100% !important;
	width: 100% !important;

	transition: width 0.7s,
				height 0.7s;
}
.grow-up .text {
	opacity: 0;
}
.button.grow-up {
	margin: 0 !important;
}
.drop-down {
	position: fixed;
	z-index: -1;
	top: 100% !important;
	opacity: 0 !important;
	transition: opacity 0.5s, top 0.7s;
}

#button-container.go-normal {
	width: 90% !important;
	height: 120px !important;
}
.button.go-normal {
	width: 28% !important;
	height: 120px !important;
}
.go-normal {
	transition: width 0.7s,
				height 0.7s,
				left 0.7s,
				right 0.7s,
				top 0.7s,
				opacity 2s;
}
.go-normal.hover {
	top: 48% !important;
}
.go-normal.mini {
	top: 52% !important;
}
#galerie.go-normal {
	left: 5% !important;
}
#contact.go-normal {
	right: 10% !important;
}
.go-normal .text {
	opacity: 1;
}

.response-content {
	border: none;
	width: 100%;
	height: 100%;
}

#galerie_container {
	position: relative;
}

iframe {
	width: 100%;
	height: 100%;
	border: none;
	margin: 0;
	overflow: hidden;
}

@media screen and (max-width: 1200px) {
	.button .text {
		font-size: 70px;
	}
}

@media screen and (max-width: 1000px) {
	#button-container {
		height: auto;
	}
	.button {
		width: 80%;
		margin: 10% auto;
		float: unset !important;
		margin-top: 0 !important;
	}
}

@media screen and (max-width: 500px) {
	.button .text {
		font-size: 50px;
	}
}

@media screen and (orientation: portrait) {
	#button-container {
		height: auto;
	}
	.button {
		width: 80%;
		margin: 10% auto;
		float: unset !important;
		margin-top: 0 !important;
	}
}